<mat-sidenav-container>
  <mat-sidenav #menuSide>
    <mat-nav-list>
      <mat-list-item *ngFor="let item of elementsMenu">
        <button mat-button (click)="goTo(item.path);menuSide.close()">
          {{item.title}}
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header [menu]="menuSide" *ngIf="statusUser"></app-header>
    <div [@routeAnimations]="route && route.activatedRouteData && route.activatedRouteData['animation']">
      <router-outlet #route="outlet"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>