<mat-nav-list>
  <a href="#" mat-list-item (click)="download($event,0)">
    <span mat-line>Excel</span>
    <span mat-line>Export to xlsx</span>
  </a>
  <a href="#" mat-list-item (click)="download($event,1)">
    <span mat-line>PDF</span>
    <span mat-line>Export to pdf and open</span>
  </a>
  <a href="#" mat-list-item (click)="download($event,2)">
    <span mat-line>PDF</span>
    <span mat-line>Export to pdf and download</span>
  </a>
  <a href="#" mat-list-item (click)="download($event,3)">
    <span mat-line>PDF</span>
    <span mat-line>Export to pdf and print</span>
  </a>
</mat-nav-list>