<div fxLayout fxLayoutAlign="center center" class="fullscreen">
  <mat-card fxFlex="1 1 400px" fxFlex.lt-sm="1 1 320px" class="mat-elevation-z8">
    <form [formGroup]="group" fxLayout="column" (ngSubmit)="login($event)">
      <h2>Enter your credentials</h2>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="text" matInput formControlName="email" name="email" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" name="password" required>
      </mat-form-field>
      <div fxLayout fxLayoutAlign="center">
        <button mat-flat-button color="accent">
          Enter
        </button>
      </div>
    </form>
  </mat-card>
</div>