<div fxLayout fxLayoutAlign="center">
  <mat-card fxFlex="1 1 800px" fxFlex.lt-sm="1 1 320px" fxLayout="column">
    <div fxLayout fxLayoutAlign="space-between center">
      <h2>User's List</h2>
      <div fxLayout fxLayoutGap="20px">
        <button mat-mini-fab (click)="export()" color="primary">
          <mat-icon>cloud_download</mat-icon>
        </button>
        <button mat-mini-fab (click)="openForm()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <mat-progress-bar color="primay" mode="determinate" [value]="advancedUploadImage" *ngIf="advancedUploadImage">
    </mat-progress-bar>
    <table mat-table [dataSource]="listUsers" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>

      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef>Photo</th>
        <td mat-cell *matCellDef="let row">
          <img class="photoUser" [src]="getUrlPhoto(row)" alt="" *ngIf="row.photo">
        </td>
      </ng-container>

      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef>Roles</th>
        <td mat-cell *matCellDef="let row">{{showRoles(row.roles)}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="accent" (click)="openForm(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="delete(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let rows; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator [length]="totalUsers" [pageSize]="pageSize"></mat-paginator>
  </mat-card>
</div>